body{
	background-color: #fff;
}
.gauge{
    padding: 0;
    display: inherit;
    position: relative;
}
.main-content{
	padding: 3rem 0;
}
.content{
	display: inline-block;
	position: relative;
	height: 350px;
    width: 350px;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 15px 0;
	box-shadow: 3px 2px 5px #a4a4a438;
	text-align: center;
	color: #9c9c9c
}
.content .content-center{
	position: relative;
	display: block;
	text-align:center;
	margin: 25px auto;
	color: #878787
}
.content .content-circle{
	background-color: #ececec;
    border-radius: 100%;
    margin: auto;
    width: 45%;
    text-align: center;
}
.content .content-circle h4{
	display: inline-block;
    margin: 50px 0;
    font-size: 5rem;
}	
.content .bottom{
	margin-top: -40px;
    margin-right: 20px;
}
.content .bottom .main-num{
    font-size: 30px;
}
.sub-content{
	padding: 5px 30px;
	margin-top: 15px;
}
.sub-content img{
	width: 85%;
}
.sub-content div{
	display: inline-block;
}
.sub-content div span{
	display: block;
	text-align: center;
}
.sub-content .main-num{
	font-size: 30px;
}