body{
	background-color: #fff;
}
.gauge{
    padding: 0;
    display: inherit;
    position: relative;
}
.main-content{
	padding: 3rem 0;
}
.content{
	display: inline-block;
	position: relative;
	height: 270px;
    width: 300px;
    background-color: #f5f5f5;
    margin: 10px 0;
    padding: 10px 8px;
	box-shadow: 3px 2px 5px #a4a4a438;
	text-align: center;
	color: #9c9c9c
}
.content .header-content{
	border-bottom: 1px solid;
	text-align: right;
	margin-bottom: 2px;
	position: relative;
	display: inherit;
}
.content .header-content .icon{
	position: absolute;
	z-index: 1;
    left: 10px;
    top: -1px;
    border-radius: 100%;
    background-color: #03a6eb;
    color: #fff;
    padding: 6px 10px;
}
.content h3{
	font-size: 1.5rem;
	margin: 2px 0;
}
.content .content-center{
	position: relative;
	display: inline-block;
	text-align:center;
	margin: auto;
	padding: 20px 0;
	color: #878787
}
.content .content-center h4{
	display: inline-block;
    margin: auto;
    font-size: 5rem;
}	
.content .content-center .border{
	border-right: 1px solid
}
.content .bottom.left{
	margin-left: 20px;
}
.content .bottom{
	display: inline;
    margin:10px 20px;
}
.content img{
	width: 200px;
}
.content .main-num{
    font-size: 22px;
}
.sub-content{
	padding: 5px 30px;
    margin-top: 15px;
    position: relative;
}
.sub-content img{
	width: 85%;
}
.sub-content div{
	display: inline-block;
}
.sub-content div span{
	display: block;
	text-align: center;
}
.sub-content .main-num{
	font-size: 22px;
}
.menu{
	position: relative;
	display: inline-block;
	background-color: #ececec;
	padding: 0 8px;
	margin: 12px 0 5px 0
}
.menu .blue{
	color: #03a6eb
}
.blue.right{
	font-size: 12px;
	margin-left: 12px;
	// color: #878787
}
.blue.right span{
	color: #878787
}

// CHART
.content #tekanan_udara{
}